.header {
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
    background-color: rgb(0, 162, 255);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    width: 100%
}

.row {
    width: 100%
}

.left-panel {
    float: left;
    width: 25%;
}



.weather {
    box-sizing: border-box;
    border: solid 1px;
    border-radius: 15px;
    float: right;
    width: 60%;
    margin-right: 5%;
    padding: 5px;
}

.card {
    float: left;
}